{% extends 'main_base.html' %}
{% load static %}
{% block title %} Welcome | N - w 0 0{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">
<h1>Welcome</h1>

<div class="section1">
    <div class="side_article left">
        <p>Welcome to N - w 0 0,</p>
        <p>And enjoy all we have for you,</p>
        <p>There's some mysteries you might be</p>
        <p>just little bit delighted to</p>
        <p>discover latest secrets,</p>
        <p>no matter the size</p>
        <p>just make sure you are ready</p>
        <p>for what comes by</p>
    </div>
    <div class="side_article right">
        <p>just be aware,</p>
        <p>these are not for lightly hearted,</p>
        <p>disasters on the way,</p>
        <p>that on the wind disperse,</p>
        <p>collected to entertain,</p>
        <p>and to warn the way to behave</p>
    </div>
</div>
<br>
<div class="carrousel" id="fron_car">
    <button class="before" onclick="pic_before()"> <span class="icon transLeft"></span> </button>
    <div class="screen">
        <div class="tape" style="left: 50px;">
            <div class="slide"><img src="{% static 'home/img/carrousel/img-0.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-1.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-2.gif' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-3.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-4.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-5.gif' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-6.gif' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-7.jfif' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-8.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-9.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-10.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-11.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-12.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-13.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-14.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-15.png' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-16.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-17.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-18.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-19.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-20.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-21.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-22.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-23.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-24.gif' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-0.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-1.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-2.gif' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-3.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-4.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-5.gif' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-6.gif' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-7.jfif' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-8.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-9.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-10.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-11.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-12.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-13.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-14.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-15.png' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-16.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-17.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-18.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-19.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-20.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-21.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-22.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-23.jpg' %}" alt=""></div>
            <div class="slide"><img src="{% static 'home/img/carrousel/img-24.gif' %}" alt=""></div>
        </div>
        <div class="filter"></div>
    </div>
    <button class="after" onclick="pic_after()"> <span class="icon transRight"></span> </button>
</div>

<script src="{% static 'main/carrousel.js' %}"></script>
{% endblock %}