.section1{
    position: relative;
    display: flex;
}
.side_article{
    text-align: right;
    width: 59%;
}
.section1 .left{
    margin-right: 1%;
}
.section1 .right{
    font-size: 50px;
    font-family: var(--secret_font);
    color: var(--black);
    margin-left: 1%;
}
.white_body .section1 .right{
    font-family: var(--secret_font);
    color: var(--white);
}